h1, h2, h3, h4, h5{
	font-family: Century Gothic;
	font-size: 18pt;
	font-weight: normal;
	text-decoration: underline;
	background-color: #F0F0F0;
	color: #A4A400;
	letter-spacing: 0.2em;
	}
h1{
	font-size: 22pt;
	text-align: center;
	font-weight: bolder;
}
body{
	color: #404040;
	font-size: 11pt;
	font-family: Georgia;
	background-image: url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
	background-repeat: repeat;
}
a{
	color: #A4A400;
}
ul{
	list-style-image: url('http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif');
}
div {
	text-indent: 50px;
}
dd{
	background-color: #FFFFC8;
	font-style: italic;
}